body {
    background-image: url(menu.png);
    background-size: cover;
    background-attachment: fixed;
}
#menu {
    padding-top: 10%;
    list-style-type: none;
    text-align: center;
}
#menu a {
    display: block;
    padding: 5px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 60px;
}
#menu a:visited {
    color: black;
    
} 
#menu a:hover{
    font-size: 90px;
    color: black;
}
#menu li{
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    height: 100px;
}